<section class="bar bar-3 bar--sm bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="bar__module">
                    <span class="type--fade">BizHost | Discover local businesses</span>
                </div>
            </div>
            <div class="col-md-6 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                    <ul class="menu-horizontal">
                        <li>
                            <div class="modal-instance">
                                <a href="#" class="modal-trigger">Login</a>
                                <div class="modal-container">
                                    <div class="modal-content section-modal">
                                        <section class="unpad ">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                        <div class="boxed boxed--lg bg--white text-center feature">
                                                            <div class="modal-close modal-close-cross"></div>
                                                            <h3>Login to Your Account</h3>
                                                            <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                                                <span class="btn__text">
                                                                    <i class="socicon-facebook"></i>
                                                                    Login with Facebook
                                                                </span>
                                                            </a>
                                                            <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                                                <span class="btn__text">
                                                                    <i class="socicon-twitter"></i>
                                                                    Login with Twitter
                                                                </span>
                                                            </a>
                                                            <hr data-title="OR">
                                                            <div class="feature__body">
                                                                <form action="/auth/login/" method="post">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <input type="text" name="username" placeholder="Username" />
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <input type="password" name="password" placeholder="Password" />
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <button class="btn btn--primary type--uppercase" type="submit">Login</button>
                                                                        </div>
                                                                    </div>
                                                                    <!--end of row-->
                                                                </form>
                                                                <span class="type--fine-print block">Dont have an account yet?
                                                                    <a href="#">Create account</a>
                                                                </span>
                                                                <span class="type--fine-print block">Forgot your username or password?
                                                                    <a href="#">Recover account</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end of row-->
                                            </div>
                                            <!--end of container-->
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="modal-instance">
                                <a href="#" class="modal-trigger">Create Account</a>
                                <div class="modal-container">
                                    <div class="modal-content">
                                        <section class="imageblock feature-large bg--white border--round ">
                                            <div class="imageblock__content col-md-5 col-sm-3 pos-left">
                                                <div class="background-image-holder">
                                                    <img alt="image" src="img/cowork-11.jpg" />
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-5 col-md-push-6 col-sm-7 col-sm-push-4">
                                                        <h2>Create an account</h2>
                                                        <p class="lead">Get started with a 14 day free trial, No credit card required &mdash; cancel at any time.</p>
                                                        <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                                            <span class="btn__text">
                                                                <i class="socicon-facebook"></i>
                                                                Sign up with Facebook
                                                            </span>
                                                        </a>
                                                        <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                                            <span class="btn__text">
                                                                <i class="socicon-twitter"></i>
                                                                Sign up with Twitter
                                                            </span>
                                                        </a>
                                                        <hr data-title="OR">
                                                        <form action="/auth/register" method="post">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <input type="text" name="firstName" placeholder="First Name" />
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <input type="text" name="lastName" placeholder="Last Name" />
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <input type="text" name="username" placeholder="Username" />
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <input type="email" name="email" placeholder="Email Address" />
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <input type="password" name="password" placeholder="Password" />
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <span class="type--fine-print">By signing up, you agree to the
                                                                        <a href="#">Terms of Service</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--end row-->
                                                        </form>
                                                    </div>
                                                </div>
                                                <!--end of row-->
                                            </div>
                                            <!--end of container-->
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-notification-link="search-box">
                                <i class="stack-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-cart.html">
                                <i class="stack-basket"></i>
                            </a>
                        </li>
                        <li class="dropdown dropdown--absolute">
                            <span class="dropdown__trigger">
                                <img alt="Image" class="flag" src="/img/flag-1.png" />
                            </span>
                            <div class="dropdown__container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-1 dropdown__content">
                                            <ul class="menu-vertical text-left">
                                                <li>
                                                    <a href="#">ENG</a>
                                                </li>
                                                <li>
                                                    <a href="#">GER</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-notification-link="side-menu">
                                <i class="stack-dot-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end bar-->
<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="side-menu" data-animation="from-right">
    <div class="side-menu__module">
        <a class="btn btn--icon bg--facebook block" href="#">
            <span class="btn__text">
                <i class="socicon-facebook"></i>
                Sign up with Facebook
            </span>
        </a>
        <a class="btn btn--icon bg--dark block" href="#">
            <span class="btn__text">
                <i class="socicon-mail"></i>
                Sign up with Email
            </span>
        </a>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <span class="type--fine-print float-left">Already have an account?</span>
        <div class="modal-instance">
            <a href="#" class="modal-trigger btn type--uppercase float-right">Login</a>
            <div class="modal-container">
                <div class="modal-content section-modal">
                    <section class="unpad ">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                    <div class="boxed boxed--lg bg--white text-center feature">
                                        <div class="modal-close modal-close-cross"></div>
                                        <h3>Login to Your Account</h3>
                                        <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                            <span class="btn__text">
                                                <i class="socicon-facebook"></i>
                                                Login with Facebook
                                            </span>
                                        </a>
                                        <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                            <span class="btn__text">
                                                <i class="socicon-twitter"></i>
                                                Login with Twitter
                                            </span>
                                        </a>
                                        <hr data-title="OR">
                                        <div class="feature__body">
                                            <form action="/auth/login/" method="post">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="text" name="username" placeholder="Username" />
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <input type="password" name="password" placeholder="Password" />
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button class="btn btn--primary type--uppercase" type="submit">Login</button>
                                                    </div>
                                                </div>
                                                <!--end of row-->
                                            </form>
                                            <span class="type--fine-print block">Dont have an account yet?
                                                <a href="#">Create account</a>
                                            </span>
                                            <span class="type--fine-print block">Forgot your username or password?
                                                <a href="#">Recover account</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="list--loose list--hover">
            <li>
                <a href="#">
                    <span class="h5">About Stack</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="h5">Careers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="h5">Investors</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="h5">Locations</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="h5">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="social-list list-inline list--hover">
            <li>
                <a href="#">
                    <i class="socicon socicon-google icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-facebook icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-instagram icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-pinterest icon icon--xs"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="notification pos-top pos-right search-box bg--white border--bottom" data-animation="from-top" data-notification-link="search-box">
    <form>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <input type="search" name="query" placeholder="Type search query and hit enter" />
            </div>
        </div>
        <!--end of row-->
    </form>
</div>
<!--end of notification-->
<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                        <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
</div>