<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body class=" ">
    <a id="start"></a>
	{{>nav}}
	
	<div class="main-container">
            <section class="text-center imagebg space--lg" data-overlay="3">
                <div class="background-image-holder">
                    <img alt="background" src="img/landing-21.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1>Hi, We're BizHost</h1>
                            <p class="lead">
                                An innovative collective of like-minded folks making useful and enduring technology products
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Built on passion and ingenuity</h2>
                            <p class="lead">
                                Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="slider border--round" data-arrows="true" data-paging="true">
                                <ul class="slides">
                                    <li>
                                        <img alt="Image" src="img/gallery-1.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/cowork-1.jpg" />
                                    </li>
                                    <li>
                                        <img alt="Image" src="img/cowork-5.jpg" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>What drives us</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature">
                                <h4>Inclusion</h4>
                                <p>
                                    With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <h4>Ingenuity</h4>
                                <p>
                                    Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it!
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature">
                                <h4>Innovation</h4>
                                <p>
                                    Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Meet the makers</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-1.png" />
                                <h5>Vera Duncan</h5>
                                <span>Founder &amp; CEO</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-3.png" />
                                <h5>Zach Smith</h5>
                                <span>Co-Founder &amp; CTO</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-2.png" />
                                <h5>Bernice Lucas</h5>
                                <span>Chief of Operations</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-4.png" />
                                <h5>Cameron Nguyen</h5>
                                <span>Lead Designer</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-5.png" />
                                <h5>Josie Web</h5>
                                <span>Head of Development</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-8">
                                <img alt="Image" src="img/avatar-round-6.png" />
                                <h5>Bryce Vaughn</h5>
                                <span>Marketing Director</span>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <div class="cta">
                                <h2>We're always looking for talent</h2>
                                <p class="lead">
                                    Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        See Job Openings
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            {{>footer}}

        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>


    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/flickity.min.js"></script>
    <script src="js/easypiechart.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/ytplayer.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/granim.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="js/countdown.min.js"></script>
    <script src="js/twitterfetcher.min.js"></script>
    <script src="js/spectragram.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>



	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
	NOTE: These should be minified in a build script -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/dropzone.js"></script> 
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#blog-submit').click(function(event){
				event.preventDefault()
				var post = {
					title: $('#blog-title').val(),
					text: $('#blog-text').val()
				}

				$.ajax({
					url : '/api/post',
					type: 'POST',
					data : post,
					success: function(data, textStatus, jqXHR){
						if (data.confirmation != 'success'){
							alert('Error: ' + data.message)
							return
						}

						window.location.href = '/blog'
					},
					error: function (jqXHR, textStatus, err){
						alert('Error: ' + err.message)
					}
				})
			})
		})
	</script>
</body>
</html>
